In [1]:
import netCDF4
from netCDF4 import Dataset
import pandas as pd

In [2]:
dataset = Dataset('precip.mon.mean.nc')
dataset.variables

OrderedDict([('lat', <class 'netCDF4._netCDF4.Variable'>
              float32 lat(lat)
                  units: degrees_north
                  actual_range: [ 88.75 -88.75]
                  long_name: Latitude
                  standard_name: latitude
                  axis: Y
              unlimited dimensions:
              current shape = (72,)
              filling on, default _FillValue of 9.969209968386869e+36 used),
             ('lon', <class 'netCDF4._netCDF4.Variable'>
              float32 lon(lon)
                  units: degrees_east
                  long_name: Longitude
                  actual_range: [  1.25 358.75]
                  standard_name: longitude
                  axis: X
              unlimited dimensions:
              current shape = (144,)
              filling on, default _FillValue of 9.969209968386869e+36 used),
             ('time', <class 'netCDF4._netCDF4.Variable'>
              float64 time(time)
                  units: hours since 1800-01-01 00:00:0.0
                  long_name: Time
                  delta_t: 0000-01-00 00:00:00
                  avg_period: 0000-01-00 00:00:00
                  standard_name: time
                  axis: T
                  actual_range: [1569072. 1916784.]
              unlimited dimensions: time
              current shape = (477,)
              filling on, default _FillValue of 9.969209968386869e+36 used),
             ('precip', <class 'netCDF4._netCDF4.Variable'>
              float32 precip(time, lat, lon)
                  long_name: Average Monthly Rate of Precipitation
                  valid_range: [ 0. 70.]
                  units: mm/day
                  add_offset: 0.0
                  scale_factor: 1.0
                  missing_value: -9.96921e+36
                  precision: 2
                  least_significant_digit: 2
                  var_desc: Precipitation
                  dataset: CPC Merged Analysis of Precipitation Standard
                  level_desc: Surface
                  statistic: Mean
                  parent_stat: Mean
                  actual_range: [ 0.   59.08]
              unlimited dimensions: time
              current shape = (477, 72, 144)
              filling on, default _FillValue of 9.969209968386869e+36 used)])

In [3]:
len(dataset.variables)

4

In [4]:
for key in dataset.variables:
    print(key)

lat
lon
time
precip

In [5]:
time = dataset.variables['time']

In [6]:
dtime = netCDF4.num2date(time[:], time.units)

In [7]:
precip = dataset.variables['precip'][:]

In [20]:
precip_ts = pd.Series(precip.data)

Exception: Data must be 1-dimensional

In [8]:
len(precip)

477

In [9]:
len(precip.data)

477

# A quick way to just get a CSV file

But might have some troubles with multi-indices?

In [10]:
import xarray as xr

ds = xr.open_dataset('precip.mon.mean.nc')
df = ds.to_dataframe()

In [11]:
df.head()

                       precip
lat   lon  time
88.75 1.25 1979-01-01     NaN
           1979-02-01     NaN
           1979-03-01     NaN
           1979-04-01     NaN
           1979-05-01     NaN

In [12]:
len(df)

4945536

In [26]:
df.to_csv('precip.csv')

In [13]:
df_filled = df.notna()

In [14]:
df_filled.head()

                       precip
lat   lon  time
88.75 1.25 1979-01-01   False
           1979-02-01   False
           1979-03-01   False
           1979-04-01   False
           1979-05-01   False

In [15]:
len(df_filled)

4945536

In [16]:
import xarray as xr

ds = xr.open_dataset('CRUTEM.4.6.0.0.anomalies.nc')
df = ds.to_dataframe()
df.to_csv('anomalies.csv')